:root
{
  --color:#61DAFB;
 
}

#root
{
  height: 100%;
  width: 100%;
}

#app
{
  display: flex;
  /*size will be respecified*/
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#search
{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px ridge var(--color);
}

#filter
{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter input
{
  width: 60%;
  height: 10%;
  background-color: #20232A;
  color: var(--color);
  font-style: italic;
}

#filter-item-container
{
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15%;
}

.filter-item
{
  display: flex;
  justify-content: space-around;
}

.filter-item:hover
{
  background-color: #523B6C;
}
 
#item-list
{
  border: 1px ridge var(--color);
  height: 100%;
  width: 40%;
}

#item-list h2
{
  display: flex;
  justify-content: center;
}

.item
{
  display: flex;
  justify-content: space-between;
  border: 0.8px ridge #577C8A;
  border-radius: 2px;
  background-color: #523B6C;
}

.item-index
{
  display: flex;
  justify-content: start;
  align-items: center;
  height: max-content;
  background-color: var(--color);
  color: #20232A;
  width: 5%;
}

.item-property
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.item-info
{
  display: flex;
  justify-content: space-around;
}

.item-details
{
  display: flex;
  justify-content: center;
}

.item-details button
{
  all: unset;
  background-color: var(--color);
  color: #20232A;
  padding: 1px 5px;
}

.item-remove
{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 3%;
}

.item-remove button
{
  background-color: #577C8A;
  border: none;
}

#details
{
  width: 30%;
}

#details h1
{
  display: flex;
  justify-content: center;
}

#detail-container
{
  padding: 5% 5%;
}

#details ul
{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}

#details ul li
{
  display: inline-block;
  padding: 1%;
}

#details ul li::after
{
  content: "  |";
}