#root
{
  height: 100%;
  width: 100%;
}

#app
{
  display: flex;
  /*size will be respecified*/
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#search
{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px ridge #5ED15E;
}

#filter
{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter input
{
  background-color: #20232A;
  color: #5ED15E;
}

#filter-item-container
{
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15%;
}

.filter-item
{
  display: flex;
  justify-content: space-around;
  height: 10%;
}

#item-list
{
  border: 1px ridge #5ED15E;
  height: 100%;
}

.item
{
  display: block;
}

.remove
{
  display: flex;
  justify-content: end;
}

.remove button
{
  background-color: #5ED15E;
}

.item-property
{
  display: flex;
  justify-content: space-around;
}

.details
{
  display: flex;
  justify-content: center;
}

.details button
{
  all: unset;
}
